body {
    background-color: #fffffc;
    font-family: 'Inter', sans-serif;
}

.navbar {
    justify-content: flex-start;
}

.cvNav {
    text-decoration: none !important;
    font-size: 16px;
    color: #2f3437;
    font-weight: medium;
    padding-right: 1rem;
}

.designNav {
    text-decoration: none !important;
    font-size: 16px;
    color: #2f3437;
    font-weight: medium;
}

.hiNav {
    text-decoration: none !important;
    font-size: 16px;
    color: #2f3437;
    font-weight: medium;
    padding-left: 1rem;
}

.job1 {
    text-decoration: underline;
}

.job2 {
    text-decoration: underline;
}

.img-fluid {
    overflow: hidden;
}

.containerSam {
    width: 1000px;
    margin: 180px auto;
    font-family: Inter, sans-serif;
}

.containerSam ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em
}

.containerSam a:active:hover,
.containerSam a:link:hover,
.containerSam a:visited:hover {
    font-weight: 600
}

.containerSam .about a {
    background-color: transparent;
    background: transparent
}

.containerSam .divider {
    width: 100%;
    height: 1px;
}

.containerSam h1 {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 1px;
    max-width: 400px;
}

.containerSam h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
    width: 500px;
}

.containerSam h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    width: 100%;
    margin: 20px 0;
}

.containerSam .me-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 0 40px;
    position: relative;
    box-shadow: 0 2px 12px 2px rgba(0, 0, 0, .14);
    border-radius: 2px
}

.containerSam .me-wrapper .me {
    width: 100%;
}

.containerSam .me-wrap .me {
    width: 100%;
}

.containerSam .me-wrap .overlay {
    width: 100%;
    height: 100%;
    background: #fffffc;
    opacity: .03;
    position: absolute;
    left: 0;
    top: 0
}

.containerSam .me-wrap:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    transition: .2s;
    box-shadow: 0 2px 12px 2px rgba(0, 0, 0, .18)
}

.containerSam .me-wrap:hover .overlay {
    opacity: 0
}

.containerSamS .floater {
    float: left;
    max-width: 400px
}

a {
    border-bottom: none;
    text-decoration: none
}

html .content {
    color: #2f3437;
    position: absolute;
    left: 0;
    top: 1;
    width: 100%
}

html .content a.intro-link {
    color: #2f3437;
    font-weight: 500;
    text-decoration: underline;
    display: inline-block;
    padding: 0
}

html .content .containerSam {
    margin: 25px auto;
    width: none;
    color: #0085FF
}

html .content .containerSam.about,
html .content .containerSam.filter {
    margin-bottom: 20px
}

html .content .containerSam.facts {
    margin-top: 20px
}

html .content .containerSam .facts-grid {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: -5px
}

html .content .containerSam p {
    width: 100%;
    color: #2f3437;
    font-weight: 400;
    margin: 10px 0 30px;
    font-size: 18px
}

html .content .containerSam a {
    color: #0085FF;
    padding: 0;
    cursor: pointer;
    transition: .3s ease-in-out;
    text-decoration: none;
}

html .content .containerSam a.preview {
    color: #3c3838;
    text-decoration: underline;
}

html .content .containerSam a.cycle {
    background: #fff
}

html .content .containerSam a.social {
    color: #2f3437;
    text-decoration: underline;
}

html .content .containerSam a.social:hover {
    color: #0085FF;
    text-decoration: underline;
    background: none;
}

html .content .containerSam a:hover.cycle {
    font-weight: 400
}

html .content .grid {
    margin: 0 auto;
    width: 1260px
}

html .content .intro-wrapper {
    height: 100vh;
    display: flex;
    flex-flow: column
}

html .content .intro-wrapper .intro {
    height: auto;
    width: 1000px;
    margin: 200px auto 30px
}

html .content .intro-wrapper .intro .shapes {
    margin-left: 360px;
    margin-top: -64px
}

html .content .intro-wrapper .bottom {
    width: 100vw;
    margin: 0 auto;
    background: #0085FF;
    flex-grow: 1
}

html .content .title>* {
    float: left
}

html .content h1 {
    font: 800 48px;
    font-family: Inter, sans-serif;
    color: #2f3437;
    letter-spacing: normal;
    margin-top: 0;
    letter-spacing: 1px
}

html .content h1.blog-title {
    margin-bottom: 0
}

html .content h1.about {
    margin-bottom: 0;
    width: 100%
}

html .content .arrow {
    font: Space Grotesk, sans-serif;
    color: red
}

html .content h2 {
    font-family: Inter, sans-serif;
    font-size: 28px;
    color: #2f3437;
    font-weight: 400;
    line-height: 36px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0
}

html .content h2.mild {
    font-weight: 400
}

html .content h2.bold {
    font-weight: 500;
    text-decoration: underline;
    display: inline-block
}

html .content h3 {
    font-size: 22px;
    letter-spacing: normal;
    margin: 5px 0
}

html .content h4 {
    font: 300 22px;
    font-family: Inter, sans-serif;
    color: #2f3437;
    letter-spacing: normal;
    margin: 15px 0
}

html .content h4 .bold {
    font-weight: 500
}

html .content h5 {
    font: 300 16px;
    font-family: Inter, sans-serif;
    color: #2f3437;
    letter-spacing: normal;
    line-height: 28px;
    margin: 10px 0
}

html .content .hr {
    height: 2px;
    background: #fffffc;
    width: 28px;
    margin-bottom: 8px
}

html .content .me-wrapper {
    margin-top: 30px;
    box-shadow: none;
    max-width: 100%;
}

html .content .about .wrap {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -56px
}

html .content .about .wrap :first-child {
    margin-top: 0
}

html .content .about .wrap>* {
    flex: 1 1 400px;
    margin-right: 56px
}

html .content .divider {
    background: #0085FF;
    margin: 32px 0;
    height: 2px
}

html .content .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

html .content .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1 1
}

html .content .left-column {
    width: 41%;
    float: left
}

html .content .right-column {
    width: 57%;
    float: right
}

html .flex-grid {
    display: flex;
    margin: 6px 0 6px -4px
}

html .flex-grid .col {
    flex: 1 1 100%
}

/* Media Queries */

@media (min-width: 375px) {

    .container-xxl {
        display: flex;
        min-width: 100%;
        min-height: 100%;
    }

    .img-fluid {
        align-content: center;
        position: fixed;
        z-index: -10;
        overflow: hidden;
    }

    .niceToMeetYou {
        margin-top: 20rem;
        font-size: 20px;
    }

    .moreMe {
        font-size: 18px;
        padding-top: 1rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .cv {
        zoom: 50%;
    }

    .containerSam {
        margin: 220px 40px;
        width: calc(100vw - 90px)
    }

    .containerSam {
        margin: 160px 40px
    }

    .containerSam h1 {
        font-size: 30px
    }

    .containerSam h2 {
        width: 100%;
        font-size: 18px
    }


}

@media (min-width: 576px) {

    .img-fluid {
        align-content: center;
        position: fixed;
        z-index: -12;
        overflow: hidden;
    }

    .niceToMeetYou {
        margin-top: 22rem;
        font-size: 22px;
        align-items: center;
    }

    .moreMe {
        font-size: 20px;
        align-items: center;
        float: left;
    }

    .containerSam h3 {
        width: 100%;
        font-size: 18px;
        line-height: 42px
    }


}

@media (min-width: 768px) {

    .img-fluid {
        z-index: -14;
        zoom: 100%;
    }

    .niceToMeetYou {
        align-items: center;
        font-size: 24px;
        padding-bottom: .5rem;
    }

    .moreMe {
        font-size: 22px;
        margin-bottom: 15rem;
    }


    .containerSam {
        margin: 220px 40px;
        width: calc(100vw - 90px)
    }

    .containerSam h3 {
        width: 100%;
        font-size: 20px;
        line-height: 42px
    }

    .containerSam li,
    .containerSam p,
    .containerSam ul {
        width: 100%
    }

}

@media (min-width: 1040px) {
    .containerSam-l {
        width: 100%;
        margin: auto;
    }

    html .content .containerSam {
        width: calc(100vw - 40px)
    }

    html .content .containerSam {
        width: calc(100vw - 40px)
    }
}