body {
    background-color: #2D3340;
    font-family: Inter, sans-serif;
    color: white;
}

h2 {
    font-size: 14px;
}

img {
    height: 80px;
    width: 80px;
}

.soon {
    display: block;
    text-align: center;
    margin-top: 25%;
}